<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="fs-folder-form-title"><center> Create Factsheet Folder</center></div>
    <div class="clear form-title-divider"></div>
    <%= render 'form', factsheet_folder: @factsheet_folder %>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <%= link_to 'Back', admin_factsheet_folders_path %>
  </div>
</div>
