<nav class="col-md-2 d-none d-md-block bg-light sidebar px-0">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <a href="<%= admin_scrapping_data_path %>" class=" list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="menu-collapsed">Scrapping Home</span>
        </div>
      </a>
      <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class=" list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="menu-collapsed">Current Affairs</span>
        </div>
      </a>
      <!-- Submenu content -->
      <div id='submenu1' class="collapse sidebar-submenu">
        <a href="#" class="list-group-item list-group-item-action">
          <span class="menu-collapsed">Chahgag</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action ">
          <span class="menu-collapsed">Reports</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <span class="menu-collapsed">Tables</span>
        </a>
      </div>
    </ul>      
  </div>
</nav>