<%= form_with(model: scrapping_datum) do |form| %>
  <% if scrapping_datum.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <div class="error-cls-icon"><i class="far fa-times-circle"></i></div>
      <ul>
        <% scrapping_datum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
