.questionnaire-form-title{
  text-align: center;
  color: #dc3545;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}
#question-block, #questionnaire-question-block{
  height: 465px;
  border: 1px solid lightgray;
  border-radius: 5px;
  overflow-y: auto;
}
.question-div{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px 5px 5px 10px !important;
  margin: 3px 5px;
  position: relative;
  .question-label {
    font-weight: bold;  
    color: #0069d9;
    font-size: 15px;
  }
  .question-date{
    font-size: 11px !important;
    color: gray;
    font-weight: bold;
    margin-left: 20px;
  }
}
.ques-sign{
  position: absolute;
  top: -4px;right: -4px;
  font-size: 11px;
  border: 1px solid;
  padding: 0px 4px;
  border-radius: 20px
}
.ques-plus{color: #0069d9;}
.ques-cross{color: #dc3545;}
.add-questions, .remove-questions{
  float: right;
  border: 1px solid #0069d9;
  border-radius: 5px;
  padding: 2px 5px;
  background-color: #0069d9;
  cursor: pointer;
}
#question-status{
  cursor: pointer;
}

.txt-question-count{
  padding-top: 6px;
}
#questionnaire-block{
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 10px 20px;
  margin-top: 50px;
}
.questionnaire-show-block{
  font-size: 22px;
}
.qestnre-hdr{
  font-weight: bold;
  text-align: right;
}
.delete_questionnaire{
  color: red;
}
.edit_questionnaire:hover, .back_to_index:hover{
  text-decoration: none;
}
.delete_questionnaire:hover{
  color: red;
  text-decoration: none;
}

.qustnr-row {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
}
.filter-block{
  border-left: 4px solid #0069d9;
  border-right: 4px solid #0069d9;
  border-radius: 10px;
}
.filter-sb-block{
  border-left: 4px solid #0069d9;
  border-right: 4px solid #0069d9;
  border-radius: 10px;
  margin: 0 -12px !important;
  div{color: #0069d9;}
  .lbl{font-weight: bold;}
  input, select{color: #0069d9;}
}
