.questionnaire-title{
  text-align: center;  
}
.question-block{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px !important;
  margin: 3px 0px;
  .question-div {
    font-weight: bold;  
    color: #dc3545;
  }
  .question-date{
    font-size: 12px !important;
    margin-left: 20px;
    color: gray;
    font-weight: bold;
  }
}
.txt-question-count{
  padding-top: 6px;
}
#edit-questionnaire-label{
  font-weight: bold;
  position: relative;
  color: #dc3545;
  top: -25px;
  left: -30px;
  font-size: 20px;
  background: white;
  padding: 2px 9px; 
}
#questionnaire-block{
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 10px 20px;
  margin-top: 50px;
}