 .textarea-custom{
   height: 60px !important;
 }
 .question-form-title{
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center !important ;
  color: #dc3545;
}
.form-title-divider{
  border-bottom: 1px solid lightgray;
  margin: 8px 0px;
}