.textarea-custom{
   height: 60px !important;
 }
.question-form-title{
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  a{color:#dc3545;}
  a:hover{color:#dc3545;}
}
.form-title-divider{
  border-bottom: 1px solid lightgray;
  margin: 8px 0px;
}
/*
@font-face {
  font-family: 'kruti-dev';
  src:url('fonts/k010.eot');
  src:url('fonts/k010.eot?#iefix') format('embedded-opentype'),
    url('fonts/k010.ttf') format('truetype'),
    url('fonts/k010.woff') format('woff'),
    url('fonts/k010.svg#icofonts') format('svg');
  font-weight: bold;
  //font-style: normal;
} 

.kruti-dev-fnt{
  font-family: 'kruti-dev';
  font-size: 20px !important;
}
*/
.pagination{
  span:not(first-span){
    margin-left: 10px;
    border: 1px solid lightgray;
    padding: 2px 5px;
    border-radius: 4px;
  }
}
.set-answer{
  color: #00cc00;
}
.facts-div{
  border: 1px solid lightgray;
  height: 60px;
  border-radius: 4px;
  padding-left: 20px;
  overflow-y: auto;
}
.get-facts-icon{
  cursor: pointer;
  color: #00cc00;
}
.grn-status{
  color: #00cc00;
}
.ca-header{
  color: #dc3545;
  font-weight: bold;
  font-size: 18px;
  display: inline-block !important;
}
.ca-header>.read-status{
  padding: 2px 5px;
  border: 1px solid green;
  border-radius: 5px;
  color: green;
  background-color: lightgreen;
  text-decoration: none !important;
  margin-left: 8px;
}
.question-show-block{
  font-size: 20px;
}
.qestn-hdr{
  font-weight: bold;
  text-align: right;
}  
.delete_question{
  color: red;
}
.edit_question:hover, .back_to_index:hover{
  text-decoration: none;
}
.delete_question:hover{
  color: red;
  text-decoration: none;
}
.edit-fact{cursor: pointer;}
.right-ok-sign{
  padding-top: 8px;
  color: #0069d9;
  font-size: 30px;
  cursor: pointer;
}
