.scrapping-row{
  border: 1px solid lightgray;
  border-radius: 5px;
  //min-height: 50px;
  margin-top: 20px;
  padding: 8px;
}
.scrapping-widget {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-top: 8px;
  margin-right: 5px;
  text-align: center;
}
.fetch-btn{
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.selelcted-data-source{
  background-color: lightgreen !important;
  border-color: green;
  border: 2px solid;
}
.no-data{
  text-align: center;
  font-size: 45px;
  font-color: lightgray !important;
  padding-top: 80px;
}
#scrapping-data{

}
.scrapping-datum{
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 5px 30px 10px 30px;
  margin-bottom: 10px;
}
.data-title{
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 5px;
  color: #dc3545;
  margin-left: 10px;
}
.unread-scrap-hdr{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #dc3545;
  text-decoration: underline;
}

.index-label{ 
  position: absolute;
  margin-left: -30px;
  margin-top: -6px;
  border-radius: 5px 0px 15px 0px;
  border: 1px solid gray;
  width: 28px;
  font-size: 12px;
  padding: 4px 0px 4px 3px;
  background-color: #0069d9;
  color: white;
  font-weight: bold;
}