<div class="row">
  <div class="col-lg-6" id ="scrapping-data-block">
    <%= render 'scrapping_data', scrapping_data: @scrapping_data, question: @question, states: @states %>
  </div>
  <div class="col-lg-6" id="current-affairs-block">
    <div class="question-form-title"><center> Create Question Form</center></div>
    <div class="clear form-title-divider"></div>
    <div class="question-form-block">
      <%= render 'form', question: @question, states: @states %>
    </div>
  </div>
</div>
 <script type="text/javascript">
    google.load("elements", "1", {
      packages: "transliteration"
    });
    function onLoad() {
      var options = {
          sourceLanguage:
              google.elements.transliteration.LanguageCode.ENGLISH,
          destinationLanguage:
              [google.elements.transliteration.LanguageCode.HINDI],
          shortcutKey: 'ctrl+g',
          transliterationEnabled: true
      };
      var control =
          new google.elements.transliteration.TransliterationControl(options);
      control.makeTransliteratable(["question", "option1", "option2", "option3", "option4", "keypoints", "facts"]);
    }
    google.setOnLoadCallback(onLoad);
  </script>