<div class="row">
  <% if @scrapping_data.present? && current_user.is_super_admin %>
    <div class="col-lg-6" id ="scrapping-data-block">
      <%= render 'scrapping_data_for_questions', scrapping_data: @scrapping_data, question: @question, states: @states %>
    </div>
    <div class="col-lg-6" id="current-affairs-block">
      <div class="question-form-title"><center> Create Question Form</center></div>
      <div class="clear form-title-divider"></div>
      <div class="question-form-block">
        <%= render 'form', question: @question, states: @states %>
      </div>
    </div>
  <% else %>
    <div class="col-lg-12" id="current-affairs-block">
      <div class="question-form-title"><center> Create Question Form</center></div>
      <div class="clear form-title-divider"></div>
      <div class="question-form-block">
        <%= render 'form', question: @question, states: @states %>
      </div>
    </div>
  <% end %>
</div>
 <script type="text/javascript">
    google.load("elements", "1", {
      packages: "transliteration"
    });
    function onLoad() {
      var options = {
          sourceLanguage:
              google.elements.transliteration.LanguageCode.ENGLISH,
          destinationLanguage:
              [google.elements.transliteration.LanguageCode.HINDI],
          shortcutKey: 'ctrl+g',
          transliterationEnabled: true
      };
      var control =
          new google.elements.transliteration.TransliterationControl(options);
      control.makeTransliteratable(["question", "option1", "option2", "option3", "option4", "keypoints", "facts", "fact-input"]);
    }
    google.setOnLoadCallback(onLoad);
  </script>
