<div class="row unread-scrap-hdr">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <center>Hold Scrapping Data</center>
  </div>
  <div class="col-md-4"></div>
</div>
<div class="row clear form-title-divider"></div>
<div id="scrapping-data">
  <%= render 'scrapping_datum', scrapping_data: @scrapping_data, action_name: params[:action] %>
</div>

