<br/>
<div class="row">
  <div class="col-md-7">
    <div class="question-form-title">
      <a href="<%= admin_questions_path %>" style="text-decoration: none;">Factsheet List</a>
    </div>
  </div>
  <div class="col-md-5">
    <%= select_tag 'inputFactsheetFolder', options_from_collection_for_select(@factsheet_folders, "id", "name"), :prompt => "Select Factsheet Folder", class:"form-control" %>
  </div>
</div>
<br/>
<div id="questions-list">
  <%= render "factsheet_list", factsheets: @factsheets, page: 1 %>
</div>