<div class="row">
  <div class="question-form-title col-md-12"><center> Add  Questions In Questionnaire</center></div>
  <div class="clear form-title-divider col-md-12"></div>
</div>
<div class="row">
  <div class="col-lg-6">
    <%= select_tag 'questionnaire_id', options_from_collection_for_select(@questionnaires, "id", "name"), :prompt => "Select Questionnaire", class:"form-control" %>
  </div>
  <div class="clear form-title-divider col-md-12"></div>
</div>
<div class="row" id="questionnaire-question-list">
  <%= render "questionnaire_question_list", questions: @questions, added_questions: @added_questions %>
</div>
