<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="question-form-title"><center> Create Questionnaire Form</center></div>
    <div class="clear form-title-divider"></div>
    <%= render 'form', questionnaire: @questionnaire %>
  </div>
  <div class="col-md-2"></div>
</div>
