div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak{ page-break-inside: avoid; }
/* Start questionnaire css */
.pdf-page{
  height:1340px;
  border: 2px solid black;
  margin-bottom: 25px;
}
.first-page{
  height:1340px;
  border: 2px solid black;
  margin-bottom: 25px;
  background-image: url("pdf_template_4.jpeg");
}
.pdf-channel-name {
  padding-top: 45%;
  font-size: 50px;
  font-weight: bold;
  color: #00a3cc;
  text-align: center;
  margin-bottom: 25%;
}
.pdf-channel-widget{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
  color: white;
  background-color: #ff661a;
}

#current-affair-block{
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 20px;
}
#current-affair-title{
  font-size: 40px;
  font-weight: bold;
  color: #00a3cc;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 15px;
}
.crt-afr-subtitle{
  font-size: 20px;
  text-align: center;
  color: #ff0000;
  font-weight: bold;
  margin-bottom: 15px;
}
.crt-afr-writer{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #00a3cc;
  text-decoration: underline;
}
.pdf-question-block{
  height: 320px;
  //border: 1px solid red;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ques-index{
  color: #ff661a;
}
.pdf-current-affair-question{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.pdf-options-block{
  display: inline-block;
  width: 100%;
}
.pdf-question-option{
  width: 34%;
  float: left;
  margin-right: 1%;
}
.option{
  font-size: 20px;  
  font-weight: bold;
  margin-bottom: 25px;
}
.option-is-answer{
  color: #00b300;
}
.pdf-question-keypoints{
  font-size: 15px;
  font-weight: bold;
  color: #3377ff;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0 15px 8px 15px;
  width: 60%;
  float: left;
}
.pdf-keypoints-label{
  margin-left: -15px;
  margin-right: -15px;
  border: 1px solid red;
  font-size: 16px;
  color: white;
  padding: 5px;
  background-color: #ff661a;
  border-radius: 4px 4px 0px 0px;
}
.pdf-watermark-text{
  position: absolute;
  margin-top: 125px;
  margin-left: 250px;
  font-size: 40px !Important;
  font-weight: bold;
  border: 1px solid #9a9de3;
  border-radius: 5px;
  padding: 8px;
  color: #fae3e3;
  background-color: #e6fffc;
  z-index: -1;
}
.factsheet-title{
  font-size: 25px;
  font-weight: bold;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  padding: 1px 5px;
  background-color: #0069d9;
}
/* End questionnaire css */

/* Start factsheet folder css */
.factsheet-first-page{
  height:1340px;
  border: 2px solid black;
  margin-bottom: 25px;
}
.factsheet-pdf-page{
  height:1340px;
  border: 2px solid black;
  margin-bottom: 25px;
}
.half-page-size{
  height: 660px;
  margin-bottom: 10px;
}
/* End factsheet folder css */