.home-left-block{
  border: 1px solid gray;
  padding-bottom: 5px;
  border-radius: 5px 5px 0 0;
  height: 550px;
}
.home-middle1-block{
  border: 1px solid gray;
  padding-bottom: 5px;
  border-radius: 5px 5px 0 0;
}
.home-right-block{
  border: 1px solid gray;
  padding-bottom: 5px;
  border-radius: 5px 5px 0 0;
  height: 550px;
}
.qustnr-title,.questionnaire-list-title{
  font-size: 25px;
  font-weight: bold;
  background-color: #6c757d; 
  border-radius: 5px;
  padding: 2px 8px;
  color: white;
}
.question-title{
  font-size: 22px;
  font-weight: bold;
  .ques-index{color:#ff661a;}
  .ques-text{color: #007bff;}
}
.ques-option{
  font-size: 18px;
  font-weight: bold;
}
.questionnaire-txt{
  font-size: 18px;
}